.footer-socials {
  @media (max-width: 1023px) {
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }
}

.footer-socials__content {
  max-width: 220px;

  @media (max-width: 1023px) {
    @include tablet-content;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 24px;
  }

  @media (max-width: 767px) {
    @include mobile-content;
    max-width: 290px;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 50px;
  }
}

.footer-socials__logo {
  margin-bottom: 52px;

  @media (max-width: 1023px) {
    margin-right: 83px;
    margin-bottom: 0;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}

.footer-socials__text {
  display: none;

  @media (max-width: 1023px) {
    @include font-pt-mono;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    color: $textgray;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
    margin-bottom: 32px;
  }
}

.footer-socials__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  padding-left: 3px;
  width: 115px;
}

.footer-socials__item:not(:nth-child(3n + 3)) {
  margin-right: 16px;
}

.footer-socials__link {
  color: #cdcdcd;

  &:hover,
  &:focus {
    color: $lightblue;
  }

  &:active {
    opacity: 0.7;
  }
}

.footer-socials__img {
  width: 27px;
  height: 27px;
}
