.footer-copyright {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-copyright__content {
  @include desktop-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 14px;
  padding-left: 20px;

  @media (max-width: 1439px) {
    justify-content: center;
  }

  @media (max-width: 1023px) {
    @include tablet-content;
    padding-top: 22px;
  }

  @media (max-width: 767px) {
    @include mobile-content;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 26px;
    padding-top: 26px;
  }
}

.footer-copyright__text {
  @include font-pt-mono;
  margin-top: 0;
  margin-bottom: 0;
  color: $textgray;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0.7px;

  &:first-of-type {
    margin-right: 72px;

    @media (max-width: 1439px) {
      margin-right: auto;
    }
  }

  &:nth-of-type(2) {
    margin-right: 138px;

    @media (max-width: 1439px) {
      margin-right: auto;
    }
  }

  &:last-of-type {
    margin-left: auto;

    @media (max-width: 1439px) {
      margin-right: 10px;
    }

    @media (max-width: 767px) {
      margin-left: 0;
      padding-top: 22px;
    }
  }

  &--desktop-only {
    @media (max-width: 1023px) {
      display: none;
    }
  }
}

.footer-copyright__link {
  text-decoration: none;
  color: $textgray;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}
