.header-info {
  display: flex;
  justify-content: space-between;
  min-width: 430px;
  font-style: normal;
  color: $white;

  @media (max-width: 1439px) {
    min-width: 84px;
  }

  @media (max-width: 749px) {
    min-width: 74px;
  }
}

.header-info__link {
  @include font-pt-mono;
  position: relative;
  color: $white;
  font-size: 16px;
  line-height: 18px;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
  }
}

.header-info__link--email {
  padding-left: 39px;

  &::before {
    top: 2px;
    width: 19px;
    height: 14px;
    background-image: url("../img/mail.svg");
  }

  @media (max-width: 1439px) {
    padding: 0;
    width: 25px;
    height: 19px;

    &::before {
      width: 25px;
      height: 19px;
    }
  }
}

.header-info__link--phone {
  padding-left: 34px;

  &::before {
    width: 18px;
    height: 18px;
    background-image: url("../img/phone.svg");
  }

  @media (max-width: 1439px) {
    padding: 0;
    width: 24px;
    height: 24px;

    &::before {
      width: 24px;
      height: 24px;
    }
  }
}


.header-info__mobile-hidden {
  @media (max-width: 1439px) {
    display: none;
  }
}
