.main-footer {
  flex: 0 0 auto;
  background-color: #fafafa;
}

.main-footer__content {
  @include desktop-content;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 57px;
  padding-top: 64px;
  padding-right: 5px;
  padding-left: 18px;

  @media (max-width: 1023px) {
    @include tablet-content;
    display: block;
    margin-bottom: 35px;
    padding: 0;
  }

  @media (max-width: 767px) {
    min-width: 290px;
    max-width: none;
    width: auto;
    margin-bottom: 26px;
  }
}

.main-footer__socials {
  margin-right: 205px;

  @media (max-width: 1023px) {
    margin: 0;
  }
}

.main-footer__lists {
  display: flex;

  @media (max-width: 1023px) {
    @include tablet-content;
    padding-top: 38px;
  }

  @media (max-width: 767px) {
    min-width: 290px;
    max-width: none;
    padding: 0;
    display: block;
  }
}

.main-footer__sections {
  margin-right: auto;

  @media (max-width: 1023px) {
    margin-right: 125px;
  }

  @media (max-width: 767px) {
    margin-right: 0;
  }
}
