.service-card {
  &:nth-of-type(1) .service-card__link {
    background-image: url("../img/service-item-1@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/service-item-1@2x.png");
    }
  }

  &:nth-of-type(2) .service-card__link {
    background-image: url("../img/service-item-2@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/service-item-2@2x.png");
    }
  }

  &:nth-of-type(3) .service-card__link {
    background-image: url("../img/service-item-3@1x.png");

    @media (min-resolution: 1.5dppx) {
      background-image: url("../img/service-item-3@2x.png");
    }
  }

  @media (max-width: 1023px) {
    &:nth-of-type(1) .service-card__link {
      width: 715px;
      background-image: url("../img/service-item-1-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/service-item-1-tablet@2x.png");
      }
    }

    &:nth-of-type(2) .service-card__link {
      background-image: url("../img/service-item-2-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/service-item-2-tablet@2x.png");
      }
    }

    &:nth-of-type(3) .service-card__link {
      padding-top: 50px;
      background-image: url("../img/service-item-3-tablet@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/service-item-3-tablet@2x.png");
      }
    }
  }

  @media (max-width: 767px) {
    &:nth-of-type(1) .service-card__link {
      width: 290px;
      background-image: url("../img/service-item-1-mobile@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/service-item-1-mobile@2x.png");
      }
    }

    &:nth-of-type(2) .service-card__link {
      background-image: url("../img/service-item-2-mobile@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/service-item-2-mobile@2x.png");
      }
    }

    &:nth-of-type(3) .service-card__link {
      background-image: url("../img/service-item-3-mobile@1x.png");

      @media (min-resolution: 1.5dppx) {
        background-image: url("../img/service-item-3-mobile@2x.png");
      }
    }
  }
}

.service-card__link {
  box-sizing: border-box;
  display: flex;
  padding-top: 50px;
  padding-left: 43px;
  width: 370px;
  height: 620px;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: 2px solid $lightblue;
  }

  @media (max-width: 1023px) {
    padding-top: 40px;
    padding-left: 45px;
    width: 720px;
    height: 256px;
  }

  @media (max-width: 767px) {
    padding-top: 20px;
    padding-left: 35px;
    width: 290px;
    height: 256px;
  }
}

.service-card__heading {
  @include font-roboto-condensed;
  margin: 0;
  width: 160px;
  color: $white;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
}

.service-card__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-left: auto;
  width: 63px;
  height: 63px;
  background-color: $lightblue;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}
