.services {
  background-color: #1b2d37;
}

.services__content {
  @include desktop-content;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  padding-top: 88px;
  padding-left: 25px;
  padding-right: 5px;

  @media (max-width: 1023px) {
    @include tablet-content;
    padding-top: 50px;
  }

  @media (max-width: 767px) {
    @include mobile-content;
    padding-top: 50px;
  }
}

.services__lead {
  @include font-roboto-condensed;
  margin: 0;
  margin-bottom: 52px;
  max-width: 900px;
  color: $white;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;

  @media (max-width: 1023px) {
    margin-bottom: 49px;
    max-width: 615px;
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: 767px) {
    margin-bottom: 42px;
    padding-left: 10px;
    max-width: 350px;
    min-width: 280px;
    font-size: 28px;
    line-height: 39px;
  }
}

.services__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 97px;
  max-width: 1170px;

  @media (max-width: 1199px) {
    margin: 0 auto;
    max-width: 800px;
  }

  @media (max-width: 1023px) {
    justify-content: space-between;
    margin-bottom: 48px;
    max-width: 720px;
  }

  @media (max-width: 767px) {
    margin-bottom: 35px;
    max-width: 290px;
  }
}

.services__item {
  margin-bottom: 30px;

  &:not(:nth-child(3n + 3)) {
    margin-right: 30px;
  }

  @media (max-width: 1199px) {
    &:nth-child(3n + 3) {
      margin-right: 30px;
    }

    &:not(:nth-child(2n + 2)) {
      margin-right: 30px;
    }
  }

    @media (max-width: 1023px) {
      margin-bottom: 46px;
    }

    @media (max-width: 767px) {
      margin-bottom: 30px;
    }


}
