@font-face {
  font-family: "Roboto Condensed";
  src:
    local("Roboto Condensed"),
    local("RobotoCondensed"),
    url("../fonts/Robotocondensed.woff"),
    url("../fonts/Robotocondensed.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src:
    local("Roboto Condensed Bold"),
    local("RobotoCondensed-Bold"),
    url("../fonts/Robotocondensedbold.woff"),
    url("../fonts/Robotocondensedbold.woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/Robotomedium.woff"),
    url("../fonts/Robotomedium.woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Mono";
  src:
    local("PT Mono"),
    local("PTMono-Regular"),
    url("../fonts/ptmono.woff"),
    url("../fonts/ptmono.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
