$textgray: #788891;
$lightblue: #00b2ff;
$white: #ffffff;

//noinspection Stylelint
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@mixin font-roboto-condensed {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}

@mixin font-pt-mono {
  font-family: "PT Mono", "Times New Roman", serif;
}

@mixin plus-button {
  display: block;
  padding: 0;
  width: 16px;
  height: 16px;
  background: none;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;

  &.closed {
    background-image: url("../img/plus.svg");
  }
}

@mixin desktop-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 1440px;
}

@mixin tablet-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 750px;
}

@mixin mobile-content {
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 320px;
}

@mixin list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin footer-heading {
  @include font-roboto-condensed;
  margin: 0;
  padding-left: 3px;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
